{% extends "myapp/base.html" %}
{%block nav%}
<li class="nav-item">
    <a class="nav-link" aria-current="page"
        onclick="javascript:smoothScroll(document.getElementById('downloadFp_btn'));">Download</a>
</li>
{%endblock%}
{%block body%}
<div class="mt-5">&nbsp;</div>
<div class="container mt-5">

    <h1 class="h1 p-3">Fingerprint results</h1>
    <br>
    <h3 class="h3 p-2">{{smiles}}</h3>
    <br>
    <div class="border border-primary container">
        <div class="row justify-content-center align-items-center">
            <form class="text-center row align-items-center justify_content_between" id="download_form"
                action="{% url 'download_new_morgan_csv' %}" method="post">
                {% csrf_token %}
                <h4 class="h4 p-3 col">Morgan fingerprint</h4>
                <input type="hidden" name="smiles" id="smiles" value="{{smiles}}">
                <div class="col-auto">
                    <button class="btn-sm btn-dark" onclick="">Download
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="border border-primary container">
        <div class="row justify-content-center align-items-center">
            <form class="text-center row align-items-center justify_content_between" id="download_form"
                action="{% url 'download_new_maccs_csv' %}" method="post">
                {% csrf_token %}
                <h4 class="h4 p-3 col">MACCS fingerprint</h4>
                <input type="hidden" name="smiles" id="smiles" value="{{smiles}}">
                <div class="col-auto">
                    <button class="btn-sm btn-dark" onclick="">Download
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="border border-primary container">
        <div class="row justify-content-center align-items-center">
            <form class="text-center row align-items-center justify_content_between" id="download_form"
                action="{% url 'download_new_torsion_csv' %}" method="post">
                {% csrf_token %}
                <h4 class="h4 p-3 col">Torsion fingerprint</h4>
                <input type="hidden" name="smiles" id="smiles" value="{{smiles}}">
                <div class="col-auto">
                    <button class="btn-sm btn-dark" onclick="">Download
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="border border-primary container">
        <div class="row justify-content-center align-items-center">
            <form class="text-center row align-items-center justify_content_between" id="download_form"
                action="{% url 'download_new_rdk_csv' %}" method="post">
                {% csrf_token %}
                <h4 class="h4 p-3 col">Rdk fingerprint</h4>
                <input type="hidden" name="smiles" id="smiles" value="{{smiles}}">
                <div class="col-auto">
                    <button class="btn-sm btn-dark" onclick="">Download
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('navbar_top').classList.add('fixed-top');
        });
        // Set the JSON data from the script tag to the hidden input
        document.getElementById('fingerprints').value = JSON.stringify(JSON.parse(document.getElementById('fingerprints_data').textContent));
    </script>
</div>
{%endblock%}