<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Responsive Data</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>SMILES: CC(CCC(=O)N)CN</h2>
        <h3>Molecular Formula: C6H14N2O</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4"><strong>Molecular Weight:</strong> 130.191</div>
      <div class="col-sm-6 col-md-4"><strong>logP:</strong> -0.15329999999999988</div>
      <div class="col-sm-6 col-md-4"><strong>TPSA:</strong> 69.11</div>
      <div class="col-sm-6 col-md-4"><strong>Num Rotatable Bonds:</strong> 4</div>
      <div class="col-sm-6 col-md-4"><strong>Num H Acceptors:</strong> 2</div>
      <div class="col-sm-6 col-md-4"><strong>Num H Donors:</strong> 2</div>
      <div class="col-sm-6 col-md-4"><strong>Num Heavy Atoms:</strong> 9</div>
      <div class="col-sm-6 col-md-4"><strong>Molar Refractivity:</strong> 36.64679999999999</div>
      <div class="col-sm-6 col-md-4"><strong>Fraction CSP3:</strong> 0.8333333333333334</div>
      <div class="col-sm-6 col-md-4"><strong>logD:</strong> -2.8432999999999993</div>
      <div class="col-sm-6 col-md-4"><strong>logS:</strong> -3.5963368</div>
      <div class="col-sm-6 col-md-4"><strong>Bioavailability Score:</strong> -1.1510243229821129</div>
      <div class="col-sm-6 col-md-4"><strong>Num Rings:</strong> 0</div>
      <div class="col-sm-6 col-md-4"><strong>Num Hetero Atoms:</strong> 3</div>
      <div class="col-sm-6 col-md-4"><strong>Formal Charge:</strong> 0</div>
      <div class="col-sm-6 col-md-4"><strong>Num Rigid Bonds:</strong> 9</div>
      <div class="col-sm-6 col-md-4"><strong>Polar Surface Area:</strong> 69.11</div>
      <div class="col-sm-6 col-md-4"><strong>SP3 Count:</strong> 2</div>
      <div class="col-sm-6 col-md-4"><strong>Radical Electrons:</strong> 0</div>
      <div class="col-sm-6 col-md-4"><strong>Valence Electrons:</strong> 32</div>
      <div class="col-sm-6 col-md-4"><strong>Heavy Atom Molecular Weight:</strong> 116.079</div>
      <div class="col-sm-6 col-md-4"><strong>Exact Molecular Weight:</strong> 130.110613068</div>
      <div class="col-sm-6 col-md-4"><strong>QED:</strong> 0.5551643748379419</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Absorption</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>P-Glycoprotein:</strong> False</div>
      <div class="col-sm-6 col-md-4"><strong>Human Intestinal Absorption:</strong> 68.22483594048327</div>
      <div class="col-sm-6 col-md-4"><strong>Protein Binding Percentage:</strong> True</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Distribution</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>Blood-Brain Barrier:</strong> False</div>
      <div class="col-sm-6 col-md-4"><strong>Fraction Unbound:</strong> -4.064779</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Lipophilicity</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>AlogP:</strong> -0.15329999999999988</div>
      <div class="col-sm-6 col-md-4"><strong>XlogP:</strong> -0.15329999999999988</div>
      <div class="col-sm-6 col-md-4"><strong>IlogP:</strong> -3.3469468999999994</div>
      <div class="col-sm-6 col-md-4"><strong>WlogP:</strong> 24.5</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Metabolism</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>Metabolism:</strong> True</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Excretion</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>Clearance:</strong> 0.9278390159539758</div>
      <div class="col-sm-6 col-md-4"><strong>Intrinsic Clearance:</strong> 0.9635532726503766</div>
      <div class="col-sm-6 col-md-4"><strong>Half-Life:</strong> 3.9577957413430767</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Toxicity</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>High logP:</strong> False</div>
      <div class="col-sm-6 col-md-4"><strong>Toxicity Score:</strong> 0.85793542</div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Druglikeness</h3>
      </div>
      <div class="col-sm-6 col-md-4"><strong>Lipinski Rule:</strong> True</div>
      <div class="col-sm-6 col-md-4"><strong>Veber Rule:</strong> True</div>
      <div class="col-sm-6 col-md-4"><strong>Ghose Rule:</strong> False</div>
      <div class="col-sm-6 col-md-4"><strong>Egan Rule:</strong> True</div>
      <div class="col-sm-6 col-md-4"><strong>Pfizer Rule:</strong> False</div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
